<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <title>Blog Post App</title>
</head>
<body>
    <%- include('_navbar') %> 
    <div class="container mt-4 mb-4">
        <h1 clas="mb-4"><%= post.title %></h1>
        <div class="text-muted mb-2">
            <%= post.createdAt.toLocaleDateString() %>
        </div>
        
        <a href="/posts/edit/<%= post.id %>" class="btn btn-dark"><i class="fa fa-edit"></i> Edit Post</a>
        <div class="mt-4">
            <%- post.sanitizedHtml %>
        </div>
        
    </div>
</body>
</html>